.App {
  text-align: center;
  height: auto;
  width: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 80px;
}

.App-header {
  background-color: #333333;
  padding: 20px;
  color: white;
  max-height: 150px;
}

.App-title {
  font-size: 1.5em;
}

.App-container {
  font-size: large;
  display: flex;
  overflow: hidden;
  height: fit-content;
  align-items: center;
}

.App-column-left {
  padding: 10px;
  border: #999999 groove;
  width: 30%;
  resize: horizontal;
  overflow: auto;
  max-height: 400px;
  height: auto;
  text-align: left;
}

.App-column-right {
  padding: 10px;
  border: #999999 groove;
  width: 70%;
  max-height: 400px;
  height: auto;
  text-align: left;
}

.App-column-right-data {
  overflow: auto;
  max-height: 300px;
  margin: 20px;
}

.App-column-right-DialogBox {
  padding: 20px;
  color: black;
  font-size: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
  max-height: 50px;
  border-radius: 6px ;
  overflow: auto;
}

.App-column-left li {
  padding: 20px;
  border: #999999 outset;
  text-align: left;
}

ul {
  list-style-type: none;
  font-size: large;
  padding: 0;
}

button {
  margin: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
